/* global colors */
:root {
  --bg: #FFFFFF;
  --clr: #555555;
  --clr-Inv: #FFFFFF;
  --clr-card: #FFFFFF;
  --clr-card-inv: #000000;
  --clr-card-2: hsl(241 40% 53% / 10%);
  --clr-card-3: #FFFFFF;
  --clr-hover: rgb(0 0 0 / 0.8);
  --clr-scroll: orange;
  --clr-card-scroll: rgb(224, 224, 224);
  --clr-text-btn: #FFFFFF;
  --clr-btn: orange;
  --clr-border: #c8c8c8;
  --mix-blend-mode: multiply;
  --clr-btn-footer: hsl(0 0% 0% / 0.11);
  --animation-horse: #57e5ff;
  --animation-horse-second: #41b0ff;
}

/* defautl color */
:is(span, p, h1, h2, h3, h4, h5, h6, .v-list-item__title, .v-btn span, button, label, ul):not(.notdefault-clr, .notdefault_clr) {
  color: var(--clr);
}
:is(.v-icon, a, input):not(.notdefault-clr, .notdefault_clr) {
  color: var(--clr) !important;
}

/* personal clases */
.clr {
  color: var(--clr) !important;
}
.clr-inv {
  color: var(--clr-inv) !important;
}
.clr-card {
  background-color: var(--clr-card) !important;
}
.clr-card-inv {
  background-color: var(--clr-card-inv) !important;
}
.filter {
  filter: invert(0%) !important;
}
.filter-inv {
  filter: invert(100%) !important;
}
.filter_inv {
  filter: invert(100%) !important;
}
.clr-svg {
  fill: var(--clr) !important;
}
.clr-svg-inv {
  fill: var(--clr-inv) !important;
}
.clr-card-2 {
  background-color: var(--clr-card-2) !important;
}

/* ////////////////////////////////////////////// */
